/* reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1em;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
main:after,
nav:after,
footer:after,
header:after,
section:after,
form:after,
div:after,
ul:after,
ol:after,
li:after,
dl:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
p {line-height: 1.5em;}
b, strong {font-weight: bold;}

@font-face {
  font-family: "HarabaraHand";
  src: url("../fonts/HarabaraHand.ttf") format("truetype");
} 
@font-face {
  font-family: "Essays 1743";
  src: url("../fonts/Essays1743.eot?") format("eot"), url("../fonts/Essays1743.woff") format("woff"), url("../fonts/Essays1743.ttf") format("truetype");
}
@font-face {
  font-family: "Essays 1743";
  font-weight: bold;
  src: url("../fonts/Essays1743-bold.eot?") format("eot"), url("../fonts/Essays1743-bold.woff") format("woff"), url("../fonts/Essays1743-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Essays 1743";
  font-style: italic;
  src: url("../fonts/Essays1743-italic.eot?") format("eot"), url("../fonts/Essays1743-italic.woff") format("woff"), url("../fonts/Essays1743-italic.ttf") format("truetype");
}
@font-face {
  font-family: "Essays 1743";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Essays1743-bold-italic.eot?") format("eot"), url("../fonts/Essays1743-bold-italic.woff") format("woff"), url("f/Essays1743-bold-italic.ttf") format("truetype");
}

body {
  font-family: "Times New Roman", georgia, serif;
  background: #FFF;
  color: #000;
  font-weight: 300;
  font-size: 23px;
  width: 920px;
  margin: 0 auto;
}

h1 {
  font-family: "HarabaraHand","Essays 1743", georgia;
  font-weight: 300;
  font-size: 95px;
}

h2 {
  font-family: "HarabaraHand", georgia;
  font-weight: 300;
  font-size: 50px;
}

h3 {
  font-size: 30px;
  font-weight: 300;
}

hr {
  width: 100%;
  margin-top: 100px;
  border: 5px dashed #666;
}

/* Cover */
section.main {
  height: 700px;
}

section.main>.content {
  padding-top: 100px;
  text-align: center;
}

section.main h1, section.main h2 {
  margin-top: 80px;
}

section.main h4.ico {
  margin-top: 50px;
  font-size: 100;
  font-size: 60px;
}

/* Dedication */
section.dedication {
  height: 700px;
} 

section.dedication>.content {
  padding-top: 300px;
  text-align: center;
}

/* Summary */
section.summary {
  padding-top: 0px;
  padding-bottom: 120px;
}

section.summary ul>li {
  margin: 20px;
  background: url('../images/dot.png') 0px 0.8em repeat-x rgb(255, 255, 255);
}

section.summary span {
  background: #FFF;
}

section.summary span a:link {
  color: FireBrick;
  cursor: pointer;
  font-size: 28px;
}

section.summary span a:visited {
  color: RosyBrown;
}